@{
    ViewData["Title"] = "Domov";
}

@model DiacriticsWeb.Models.DiacriticsText

<div class="row">
    <div class="col-md-6">

        <br />

        <form method="post" asp-action="Index" asp-controller="Home">
            <textarea asp-for="OriginalText" class="form-control" rows="25" style="resize: none"
                      placeholder="Text bez diakritiky"></textarea>
            <br />
            <input type="submit" name="submit" value="Doplň diakritiku" class="btn btn-default" />
        </form>

    </div>
    <div class="col-md-6">

        <br />

        <textarea asp-for="ReconstructedText" class="form-control" rows="25" style="resize: none"
                  placeholder="Text so zrekonštruovanou diakritikou"></textarea>

    </div>
</div>