@{
    ViewData["Title"] = "Home Page";
}

@model DiacriticsWeb.Models.DiacriticsText

    <br />

    <form asp-action="Reconstruct" asp-controller="Home">
        <textarea asp-for="OriginalText" class="form-control" rows="25" style="resize: none"></textarea>
        <br />
        <input type="submit" name="submit" value="Reconstruct" />
    </form>
