@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <br />

        <form method="post">
            <textarea @*asp-for="Body"*@ class="form-control" rows="25" style="resize: none"></textarea>
            <br />
            <input type="submit" name="submit" value="Submit" />
        </form>

    </div>
    <div class="col-md-6">
        <br />

        <form method="post">
            <textarea @*asp-for="Body" *@ class="form-control" rows="25" style="resize: none"></textarea>
        </form>

    </div>
</div>
