@{
    ViewData["Title"] = "Home Page";
}

@model Web.Models.DiacriticsText

<div class="row">
    <div class="col-md-6">
        <br />

        <form asp-action="Contact" asp-controller="Home">
            <textarea asp-for="OriginalText" class="form-control" rows="25" style="resize: none"></textarea>
            <br />
            <input type="submit" name="submit" value="Submit" />
        </form>

    </div>
</div>
